name: Atualiza pipeline IBGE

on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do repositório
        uses: actions/checkout@v4

      - name: Configurar python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11' 
      
      - name: Instalar depedências
        run: |
          pip install -r requirements.txt

      - name: Executar pipeline
        run: |
          python main.py

      - name: Commit dos dados atualizados
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add *.csv
          git commit -m "Atualização automática da pipeline IBGE" || echo "Sem alterações"
          git push